body {
  margin: 0% 15%;
}
.form {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 20px;
}

.input {
  width: 98%;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  margin-top: 5px;
}

.outputLabel {
  border-bottom: 1px gray solid;
  margin-bottom: 2px;
}

.submit {
  display: inline-flex;
  width: 100%;
  margin-top: 40px;
}

.inline {
  display: flex;
}

.fieldButton {
  height: 25px;
  padding: 10px;
  text-justify: distribute-all-lines;
  background-color: gray;
}
